.navbar8-wrapper {
  display: contents;
}
 
.navbar8-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.navbar8-image1 {
  height: 3rem;
}
 
.navbar8-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar8-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
 
.navbar8-link11 {
  text-decoration: none;
}
 
.navbar8-link12 {
  text-decoration: none;
}
 
.navbar8-burger-menu {
  display: none;
}
 
.navbar8-icon1 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar8-links2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
 
.navbar8-link13 {
  text-decoration: none;
}
 
.navbar8-link14 {
  text-decoration: none;
}
 
.navbar8-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar8-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar8-logo {
  height: 3rem;
}
 
.navbar8-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.about-fragment10 {
  display: contents;
}
 
.about-text10 {
  display: inline-block;
}
 
.about-fragment12 {
  display: contents;
}
 
.about-text12 {
  display: inline-block;
}
 
.about-fragment11 {
  display: contents;
}
 
.about-text11 {
  display: inline-block;
}
 
.about-fragment13 {
  display: contents;
}
 
.about-text13 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar8-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar8-desktop-menu {
    display: none;
  }
  .navbar8-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar8-mobile-menu {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
}
 
@media(max-width: 479px) {
  .navbar8-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .navbar8-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}

.hero8-wrapper {
  display: contents;
}
 
.hero8-header26 {
  gap: var(--dl-layout-space-twounits);
}
 
.hero8-max-width {
  align-self: center;
}
 
.hero8-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero8-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero8-text1 {
  text-align: center;
}
 
.hero8-text2 {
  text-align: center;
}
 
.hero8-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.hero8-text3 {
  text-decoration: none;
}
 
.about-fragment16 {
  display: contents;
}
 
.about-text16 {
  display: inline-block;
}
 
.about-fragment14 {
  display: contents;
}
 
.about-text14 {
  display: inline-block;
}
 
.about-fragment15 {
  display: contents;
}
 
.about-text15 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .hero8-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero8-button {
    width: 100%;
  }
}

.content-list1-wrapper {
  display: contents;
}
 
.content-list1-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.content-list1-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
 
.content-list1-content {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list1-ul {
  align-items: flex-start;
}
 
.content-list1-heading1 {
  align-self: flex-start;
}
 
.about-fragment22 {
  display: contents;
}
 
.about-text22 {
  display: inline-block;
}
 
.about-fragment18 {
  display: contents;
}
 
.about-text18 {
  display: inline-block;
}
 
.about-fragment23 {
  display: contents;
}
 
.about-text23 {
  display: inline-block;
}
 
.about-fragment21 {
  display: contents;
}
 
.about-text21 {
  display: inline-block;
}
 
.about-fragment20 {
  display: contents;
}
 
.about-text20 {
  display: inline-block;
}
 
.about-fragment24 {
  display: contents;
}
 
.about-text24 {
  display: inline-block;
}
 
.about-fragment25 {
  display: contents;
}
 
.about-text25 {
  display: inline-block;
}
 
.about-fragment19 {
  display: contents;
}
 
.about-text19 {
  display: inline-block;
}
 
.about-fragment17 {
  display: contents;
}
 
.about-text17 {
  display: inline-block;
}

.contact6-wrapper {
  display: contents;
}
 
.contact6-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact6-max-width {
  align-self: center;
}
 
.contact6-content1 {
  width: 100%;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.contact6-content2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.contact6-content3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact6-content4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.contact6-contact-info1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact6-text3 {
  align-self: flex-start;
  text-align: center;
}
 
.contact6-content5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.contact6-contact-info2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact6-text4 {
  align-self: flex-start;
  text-align: center;
}
 
.contact6-content6 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.contact6-contact-info3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact6-content7 {
  width: 100%;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
 
.about-fragment26 {
  display: contents;
}
 
.about-text26 {
  display: inline-block;
}
 
.about-fragment27 {
  display: contents;
}
 
.about-text27 {
  display: inline-block;
}
 
.about-fragment28 {
  display: contents;
}
 
.about-text28 {
  display: inline-block;
}
 
.about-fragment29 {
  display: contents;
}
 
.about-text29 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact6-content1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact6-content7 {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .contact6-content1 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
}

.footer4-wrapper {
  display: contents;
}
 
.footer4-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer4-max-width {
  gap: var(--dl-layout-space-threeunits);
  height: 202px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer4-credits {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer4-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.footer4-container {
  display: flex;
  align-items: flex-start;
}
 
@media(max-width: 767px) {
  .footer4-row {
    gap: var(--dl-layout-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .footer4-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}

.about-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.about-fragment10 {
  display: contents;
}
 
.about-text10 {
  display: inline-block;
}
 
.about-fragment11 {
  display: contents;
}
 
.about-text11 {
  display: inline-block;
}
 
.about-fragment12 {
  display: contents;
}
 
.about-text12 {
  display: inline-block;
}
 
.about-fragment13 {
  display: contents;
}
 
.about-text13 {
  display: inline-block;
}
 
.about-fragment14 {
  display: contents;
}
 
.about-text14 {
  display: inline-block;
}
 
.about-fragment15 {
  display: contents;
}
 
.about-text15 {
  display: inline-block;
}
 
.about-fragment16 {
  display: contents;
}
 
.about-text16 {
  display: inline-block;
}
 
.about-fragment17 {
  display: contents;
}
 
.about-text17 {
  display: inline-block;
}
 
.about-fragment18 {
  display: contents;
}
 
.about-text18 {
  display: inline-block;
}
 
.about-fragment19 {
  display: contents;
}
 
.about-text19 {
  display: inline-block;
}
 
.about-fragment20 {
  display: contents;
}
 
.about-text20 {
  display: inline-block;
}
 
.about-fragment21 {
  display: contents;
}
 
.about-text21 {
  display: inline-block;
}
 
.about-fragment22 {
  display: contents;
}
 
.about-text22 {
  display: inline-block;
}
 
.about-fragment23 {
  display: contents;
}
 
.about-text23 {
  display: inline-block;
}
 
.about-fragment24 {
  display: contents;
}
 
.about-text24 {
  display: inline-block;
}
 
.about-fragment25 {
  display: contents;
}
 
.about-text25 {
  display: inline-block;
}
 
.about-fragment26 {
  display: contents;
}
 
.about-text26 {
  display: inline-block;
}
 
.about-fragment27 {
  display: contents;
}
 
.about-text27 {
  display: inline-block;
}
 
.about-fragment28 {
  display: contents;
}
 
.about-text28 {
  display: inline-block;
}
 
.about-fragment29 {
  display: contents;
}
 
.about-text29 {
  display: inline-block;
}
